<div class="product">
	<div class="product__title col-xs-12">
		<h1>{{title}}</h1>
	</div>

	<div class="product__primary-image col-xs-12">
		<img src="{{primaryImageUrl}}">
	</div>

	<div class="product__thumbnails">
	</div>

	{{#with priceData}}
	<div class="product__price-block">
		<strong><span class="product__display-price">{{formattedPriceValue}}</span></strong>             
		<span class="product__price-qualifier">&nbsp;{{priceQualifier}}</span>
	</div>
	{{/with}}

	<div class="product__offers">
		<ul class="product__offer-list list-unstyled">
			{{#each promos}}
				<li>
					<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
					<span>{{this.Description.[0].shortDescription}}</span>
				</li>
			{{/each}}
		</ul>
	</div>

	<div class="product__quantity-controls">
	</div>

	<div class="product__add-item-container col-xs-12">
		<ul class="list-inline row">
			{{#if showPickupInStore}}
				<li class="col-xs-6">
					<button class="btn btn-secondary btn-block">pick up in a store</button>
				</li>
			{{/if}}
			{{#if showAddToCart}}
				<li class="col-xs-6">
					<button class="btn btn-primary btn-block">add to cart</button>
				</li>
			{{/if}}
		</ul>
	</div>

	<div class="product__return-disclaimer col-xs-12">

	</div>

	<div class="product-highlights col-xs-12">
		<h2>product highlights</h2>

		<ul class="product__details-list">
			{{#each productFeatures}}
				<li>{{{this}}}</li>
			{{/each}}

		</ul>
	</div>

</div>