<div class="product row">

	<div class="col-xs-12 col-lg-6">
		<div class="product__title">
			<h1>{{title}}</h1>
		</div>

		<div class="slider-for">
			{{#each thumbnails}}
				<div>
					<div class="product__primary-image">
						<img src="{{this.image}}">
					</div>
				</div>
			{{/each}}
		</div>

		<div class="product__thumbnails slider-nav">
			{{#each thumbnails}}
				<img class="product__thumbnail" src="{{this.image}}">
			{{/each}}
		</div>
	</div>

	<div class="col-xs-12 col-lg-6">
		{{#with priceData}}
		<div class="product__price-block">
			<strong><span class="product__display-price">{{formattedPriceValue}}</span></strong>             
			<span class="product__price-qualifier">&nbsp;{{priceQualifier}}</span>
		</div>
		{{/with}}

		<div class="product__offers">
			<ul class="product__offer-list list-unstyled">
				{{#each promos}}
					<li>
						<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
						<span>{{this.Description.[0].shortDescription}}</span>
					</li>
				{{/each}}
			</ul>
		</div>

		<div class="product__quantity">
			<div class="row">
				<div class="col-xs-6">
					<div class="product__quantity-field">
						<label>quantity:</label>
						<div class="product__quantity-controls">
							<button type="button" class="btn control js-quantity-minus" data-type="minus" data-field="quant[1]">
								<span class="glyphicon glyphicon-minus"></span>
							</button>
							<span class="product__quantity-value">{{productQuantity}}</span>
							<button type="button" class="btn control js-quantity-plus" data-type="plus" data-field="quant[1]">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="product__add-item-container">
			<div class="row">
				{{#if showPickupInStore}}
					<div class="col-xs-6">
						<button class="btn store-pickup-btn btn-block">pick up in a store</button>
					</div>
				{{/if}}
				{{#if showAddToCart}}
					<div class="col-xs-6">
						<button class="btn add-to-cart-btn btn-block">add to cart</button>
					</div>
				{{/if}}
			</div>
		</div>

		<div class="product__returns">
			<div class="product__return-label">
				<span>returns</span>
			</div>

			<ul>
				<li class="product__return-policy">
				  <span>
					This item must be returned within 30 days of the ship date. See <a href="#">return policy</a> for details. Prices, promotions, styles and availability may vary by store and online.
				  </span>
				</li>  
			</ul>

		</div>

		<div class="product__other-actions-container">
			<div class="row">
				<div class="col-xs-4">
					<button class="btn btn-default btn-block">add to registry</button>
				</div>
				<div class="col-xs-4">
					<button class="btn btn-default btn-block">add to list</button>
				</div>
				<div class="col-xs-4">
					<button class="btn btn-default btn-block">share</button>
				</div>
			</div>
		</div>

		<div class="product__highlights">
			<h2>product highlights</h2>

			<ul class="product__details-list">
				{{#each productFeatures}}
					<li>{{{this}}}</li>
				{{/each}}

			</ul>
		</div>
	</div>

	<div class="clearfix hidden-sm"></div>

	<div class="col-xs-12 col-lg-6">
		<div class="product__reviews">
			<div class="row">
				<div class="col-xs-6">
					<h4>PRO</h4>
					<span>most helpful 4-5 star review</span>
				</div>
				<div class="col-xs-6">
					<h4>CON</h4>
					<span>most helpful 1-2 star review</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6">
					<h5>{{pro.title}}</h5>
					<p>{{pro.review}}</p>
					<span>{{screenName}} April 18, 2013</span>
				</div>
				<div class="col-xs-6">
					<h5>Very unhappy</h5>
					<p>lots more stuff with lots more words to fill up content cool! lots more stuff with lots more words to fill up content cool!</p>
					<span>New York March 11, 2013</span>
				</div>
			</div>
		</div>
	</div>

</div>